# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
.json

# VSCode
.vscode/

# System
.DS_Store
*.log

remove_geckodriver.bat
remove_geckodriver.py
run_bot.bat
run_bot_mock.bat
setup.bat
